Cors is not properly functioning, that will need to be assesed, stack overflow is helpful here
in this sense.

Go here to ascertain fix for cors.

https://stackoverflow.com/questions/43262121/trying-to-use-fetch-and-pass-in-mode-no-cors